.DS_Store
RESULTS/**
Checks_and_investigations/**
Plotting/**
**.csv
**.png
**.ipynb
**.pdf
**.txt
**.rtf
DIPPA_scripts/**
PSCC_work/**
src/depricated/**
Testing_results/**
Archive/**
Testing_full_instance/**
